* {
    box-sizing: border-box;
}

header {
    text-align: center;
    position: sticky;
    color:black;
    background-color: beige;
    font-size: 30px;
    word-spacing: 3em;
    z-index: 1;
    height: 100px;
    top: 10px;
}

header ul li {
    display: inline;
    position: relative;
    top: 25px;
    word-spacing: normal;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color:rgb(51, 66, 66);
}

a:hover {
    color:red
}

h1 {
    color:white;
    font-size: 75px;
    position: relative;
    display: block;
    height:75%;
    text-align: center;
}

body {
    background-color: rgb(51, 66, 66);
    text-align: center;
    line-height: normal;
    word-spacing: normal;
    color:beige;
    font-size: 25px;
}

#codewars img{
    width:50%;
    height:50%
}

#ProgrammingExpert img{
    height: 40%;
    width:40%;
}

footer img{
    display:inline;
    position: relative;
    top:5px;
    width: 5%;
    height: 5%;
}

footer {
    background-color: beige;
    margin: 10px;
}