* {
    box-sizing: border-box;
}

header {
    background-color: beige;
    color: black;
    position: sticky;
    top: 10px;
    text-align: center;
    word-spacing: 3em;
    font-size: 30px;
    height: 100px;
    z-index: 1;
}

header ul li {
    display: inline;
    position: relative;
    top: 25px;
    word-spacing: normal;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-style: normal;
}

a {
    text-decoration: none;
}

header ul li a:hover {
    color:red;
}

body {
    background-color: rgb(51, 66, 66);
    text-align: center;
}

tr {
    width: 250px;
    height: 250px;
    margin: auto;
}

footer {
    background-color: beige;
    color: black;
    height: 120px;
    margin: 0px;
    padding: 0px;
    width:auto;
    text-align: center;
}

table {
    position: relative;
    left: 25%;
}

footer img{
    box-sizing: border-box;
    position: relative;
    width: 125px;
    height:115px;
}


#imgs {
    height: 600px;
    width:500px;
    position: static;
    z-index: -1;
}