
.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.transition-code {
    opacity: 1;
    transition: 800ms;
}

html.is-animating .transition-code {
    opacity: 0;
}

html.is-leaving .transition-code {
    opacity: 0.25;
}


    /* header of pages */
header {
    background-color:beige;

    height: 100px;
    padding:0%;
    margin: 0%;

    font-size: 50px;
    text-align: center;

    position: sticky;
    top: 20px;

    z-index: 1;
}

header a {
    color:rgb(6, 55, 65);
}

header ul li{
    display: inline-block;

    color:darkolivegreen;

    transform: translateY(+50%);
    width: +15%;
}

a {
    color:gold;
    text-decoration: none;
}

a:hover {
    color:red;
}

#intro p {
    width: 80%;
    transform: translateX(+10%);
    text-align: justify;
}


body {
    background-color: rgb(6, 55, 65);
    color: beige;
    text-align: justify;
    font-size: 32px;
    line-height: 1.5em;
}

h1 {
    color: white;
    text-align: center;
    font-size: 64px;
}

footer img{
    height: 8%;
    width: 8%;
    display: inline;
    transform: translateY(+4%);
}

footer {
    background-color: beige;
    text-align: center;
}

#table-imgs {
    margin: 0%;
    padding: 0%;

    transform: translateX(+50%);
}

#table-imgs img{
    height: 625px;
    width: 100%;

    padding: 0%;
    margin: 0%;

    background-size: cover;
}

#ProgrammingExpert img {
    width: 50%;
    height: 50%;

    transform: translateX(+50%);
}

#codewars {
    text-align: center;
}

#codewars img {
    width:750px;
    height:auto;
}

.nobullets {
    list-style: none;
}