* {
    box-sizing: border-box;
}

header {
    background-color: beige;
    color: black;
    position: sticky;
    top: 10px;
    text-align: center;
    word-spacing: 3em;
    font-size: 30px;
    height: 100px;
    z-index:1;
}

header ul li {
    display: inline;
    position: relative;
    top: 25px;
    word-spacing: normal;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-style: normal;
}

header a {
    color:rgb(51, 66, 66);
}

a {
    text-decoration: none;
    color: gold;
}

a:hover {
    color:red;
}

body {
    color: beige;
    font-size: 40px;
    float: left;
    background-color:rgb(51, 66, 66);
}

h1 {
    color: white;
    font-weight: 900;
    text-align: center;
}

li {
    line-height: 2em;
}

#intro {
    width: auto;
    margin: 0 20px;
    text-align: justify;
    display: block;
    position: relative;
}

footer {
    background-color: beige;
    color: black;
    height: 120px;
    margin: 0px;
    padding: 0px;
    width:auto;
    text-align: center;
}

footer img{
    box-sizing: border-box;
    position: relative;
    width: 125px;
    height:115px;
}

#imgs {
    height: 250px;
    width:250px;
}